hub.{$DOMAIN} {
    reverse_proxy * ghproxy:5000
}

docker.{$DOMAIN} {
    reverse_proxy * docker:5000
}

ghcr.{$DOMAIN} {
    reverse_proxy * ghcr:5000
}

gcr.{$DOMAIN} {
    reverse_proxy * gcr:5000
}

quay.{$DOMAIN} {
    reverse_proxy * quay:5000
}

k8s.{$DOMAIN} {
    reverse_proxy * k8s:5000
}

huggingface.{$DOMAIN} {
    reverse_proxy * huggingface:5000
}