hub.{$DOMAIN} {
    root * /srv
    file_server
}

docker.{$DOMAIN} {
    reverse_proxy * docker:5000
}

ghcr.{$DOMAIN} {
    reverse_proxy * ghcr:5000
}

gcr.{$DOMAIN} {
    reverse_proxy * gcr:5000
}

quay.{$DOMAIN} {
    reverse_proxy * quay:5000
}

registryk8s.{$DOMAIN} {
    reverse_proxy * registryk8s:5000
}